
/*videobox*/

video {
  border-top: 12px dotted magenta;
  border-bottom: 5px solid blue;
  border-left: 6px solid lime;
  border-right: 12px solid yellow;
  position: absolute;
  z-index: 5;

}

#videobox {
  position: absolute;
  bottom: 80px;
  right: 40px;
  width: 400px;
  height: 300px;
}

#videoclose {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 10px;
  width: 70px;
  height: 20px;
  background: white;
  z-index: 10;
  border: 5px outset white;
}

#videoclose:active {
  border: 5px inset white;
}

#videoclose::after {
  content: 'close';
  font-family: tmes new roman;
  font-style: italic;
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 0;
}

#countdowntimer {
  position: absolute;
  top: 30px;
  right: 30px;
  border: 10px;
  width: 70px;
  height: 20px;
  background: white;
  z-index: 10;
  border: 5px outset white;
}

#countdowntimer:active {
  border: 5px inset white;
}

#countdowntimer::after {
  content: '3sec timer';
  font-family: tmes new roman;
  font-style: italic;
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 0;
}

#videobox span {
  position: absolute;
    bottom: 0;
    z-index: 999999999999999;
    font-weight: normal;
    font-size: 200px;
    transform: translate(-50%);
    left: 50%;
    color: #ffd0d4;
    text-shadow: 3px 3px 10px black;
    animation:1s countdowntimer linear infinite;
}

@keyframes countdowntimer {
  0% {filter: hue-rotate(0deg)}
  100% {filter: hue-rotate(360deg)}
}
