/* general */

* {
  outline: none!important
}

html.night ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

html.night ::-webkit-scrollbar-button {
  width: 6px;
  height: 6px;
}

html.night ::-webkit-scrollbar-thumb {
  background: #7600ff;
  border: 0px solid #7600ff;
  border-radius: 0px;
}

html.night ::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

html.night ::-webkit-scrollbar-thumb:active {
  background: #000000;
}

html.night ::-webkit-scrollbar-track {
  background: #000;
  border: 0px none #000;
  border-radius: 0px;
}

html.night ::-webkit-scrollbar-track:hover {
  background: #000;
}

html.night ::-webkit-scrollbar-track:active {
  background: #000000;
}

html.night ::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  font-family: arial;
  overflow: hidden;
  font-size: 16px;
  margin: 0;
  
}

html.night body {
  color: #e1ff00;
  background:black;
  background: url(./image/stars-bb.gif);
}

p {
  transition: background .3s ease-in-out;
  margin: 12px 8px;
}

p img {
  cursor: pointer;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}

html.night img {
  filter: saturate(120%) hue-rotate(2deg)
}

.nick {
  font-size: 12px;
  font-weight: bold
}

span.nick {
  cursor: pointer;
}

html.day span.jiggle {
  animation: .5s jiggle ease-in-out 1
}

html.night span.jiggle {
  animation: .6s nightjiggle ease-in-out 1
}

#fileinput, .hidden, .loading-modal {
  display: none
}


/* logo */

#logo {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 55px;
  width: 196px;
  pointer-events:none;
}

html.day #logo {
  background: url(./image/bog.png)
}

.line {
  width: 0px;
  position: fixed;
  top: 59px;
}

html.day .line {
  background: black;
  height: 1px;
}


/* container */

#container {
  width: 100vw;
  height: calc(100vh - 50px);
  margin: 0;
  bottom: 45px;
  perspective: 220px;
  position: absolute;
  transition:all .5s ease-in-out
}

html.day #container {
  background: white;
}

/* help */

#help.flyaway {
    opacity: 0;
    transform: rotateY(13deg) rotate(-70deg) rotateX(-55deg) translateX(55px) TranslateZ(100px) translateY(-132px) scale(.6);
}

#help {
    transition: all .52s ease-out;
    white-space: pre;
    font-family: inconsolata, monospace;
    border: 2px solid magenta;
    /* padding: 15px 0 0 15px; */
    position: absolute;
    border:5px groove #eee;
    right: 0;
    /* width: 450px; */
    /* height: 300px; */
    font-size: 15px;
    line-height: 18px;
    /* width: 450px; */
    /* height: 300px; */
    /* padding: 14px 18px 14px 14px; */
    top: 15px;
    border-radius: 5px;
    padding:14px 18px 14px 14px;
    /* top: 0; */
    right: 30px;
    z-index: 999999999;
    background:white
}

/* chat */

#content {
  overflow-y: scroll;
  height: calc(100% + 10px);
  overflow-x: hidden;
  width: calc(100vw - 10px);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: all .5s ease-in-out;
}

html.day #content {
  background: white;
  border: 5px solid yellow;
}

html.night #content {
  border: 5px solid #7600ff;
}

#content.starfox {
  transform: translateZ(-45px) rotateX(-4deg);
}

html.day #content.starfox {
  opacity: .4
}

/* breakapart */

html.broken #content {
  width: 80vw;
  transform: scaleX(.5) scaleY(.9) translateX(-35vw) translateY(-11px) rotateY(5deg) rotateZ(-4deg) rotateX(-3deg) translateZ(-32px);
}

html.broken.day #container {
      
}

#whatshot {
  overflow-y: scroll;
  width: 60vw;
  transform: translateX(60vw) rotateY(20deg);
  height: 100vh;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0px solid magenta;
  transition: all .5s ease-in-out;
}

html.night #whatshot {
  background:none
}

#whatshot div {
  display: inline-block;
  box-shadow: 3px 3px 23px rgba(0,0,0,.4);
}

#whatshot img {
  max-height: 355px;
  max-width: 393px;
}

#whatshot span {
  transform: rotate(-90deg);
  color: yellow;
  text-shadow: 1px 2px 1px black;
  position: absolute;
  margin-top: 27px;
}

html.broken #whatshot {
  width: 75vw;
  border: 10px inset #60fdff;
  z-index: 1;
  transform: scale(.88) rotateY(-2deg) rotateX(-1deg) translateX(50px) translateY(51px) rotateZ(1deg);
}


html.night.broken #whatshot {
  border: 10px inset #ff00ff;
}

/* redguts request - alt night colors */

html.night body div p span.nick[style="color:blue"],
html.night body div p span.nick[style="color:blue;"] {
  color:#3685ff !important
}

html.night body div p span.nick[style="color:orangered"],
html.night body div p span.nick[style="color:orangered;"] {
  color:#ba51ff !important
}

html.night body div p span.nick[style="color:red"],
html.night body div p span.nick[style="color:red;"] {
  color:#ff4961 !important
}


